body{
    background-image:url("../images/mixed-halloween-candy.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    border-block: border-box;
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#innerDiv,
#resultsPage {
    border-block: border-box;
    border: solid 25px purple;
    height:100%;
    background-color: rgb(238, 115, 207);
    margin-bottom: 20px;
}

#header{
    border-block: border-box;
    border: solid 15px purple;
    background-image: url("../images/frosting.jpg");
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
   
}
h1{
    font-weight: bold;
    font-size:40px;
}
 
#timer{
    margin-top:0px;
}

#gameDisplay,
#resultsPage,
#restartButton {
    display: none;
}

#resultsPage{
    border-block: border-box;
    height:100%;
    padding: 40px;
    background-color: rgb(248, 194, 235);
    
}
#startButton,
#restartButton,
#submit {
    background-image:url("../images/frosting.jpg");
    border-radius: 25px;
    border: solid 10px purple;
    margin:10px;
    height: 100px;
    width: 250px;

    font-size:30px;
}
#buttonholder{
    text-align: center;
}

#gif{
    position: relative;
}
#gifDisplay{
    position:absolute;
}